<h1><%= t("flash.users.form.title") %></h1>

<section class="bs-callout bs-callout-info">
  <%= link_to t("flash.users.form.new"), new_user_path, class: "btn btn-info" %>
</section>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t("flash.users.form.id") %></th>
      <th><%= t("flash.users.form.username") %></th>
      <th><%= t("flash.users.form.fullname") %></th>
      <th><%= t("flash.users.form.email") %></th>
      <th><%= t("flash.users.form.created") %></th>
      <th><%= t("flash.users.form.admin") %></th>
      <th><%= t("flash.users.form.action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.admin? %></td>
        <td>
          <button class="btn btn-primary admin" id="user-<%= user.id %>">
            <%= t("flash.users.form.make_admin") %> <span class="badge"><i class="glyphicon glyphicon-plus"></i></span>
          </button>
          <%= link_to t("flash.users.form.delete"), user_path(user), method: :delete, confirm: "#{t("flash.users.form.confirm")}", class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
