<h1><% t("flash.users.form.title") %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><% t("flash.users.form.id") %></th>
      <th><% t("flash.users.form.username") %></th>
      <th><% t("flash.users.form.fullname") %></th>
      <th><% t("flash.users.form.email") %></th>
      <th><% t("flash.users.form.created") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to "Edit", edit_user_path(user) %> | <%= link_to "Delete", user_path(user), method: :delete, confirm: "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
